# editor created files
*~
*#
# python "compilation" files
*.pyc
*__pycache__*
# C++ compilation files
*build*
# generated data files
*.h5
*.pytest_cache*
*.root
python/test_**
# generated local install
*install*
# generated documentation
docs/html/**
